In [7]:
#q.1
import pandas as pd
ser=pd.Series(index=[4,8,15,16,23,42])

In [8]:
print(ser)

4    NaN
8    NaN
15   NaN
16   NaN
23   NaN
42   NaN
dtype: float64

In [9]:
#q.2
import pandas as pd
list=['p','w','s','k','i','l','l']
ser=pd.Series(list)
print(ser)

0    p
1    w
2    s
3    k
4    i
5    l
6    l
dtype: object

In [12]:
#q.3
import pandas as pd
data={'name':['Alice','Bob','Claire'],'age':[25,30,27],'Gender':['Female','Male','Feamle']}
df=pd.DataFrame(data)

In [13]:
print(df)

     name  age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Feamle

In [14]:
#q.3
#Pandas dataframe is two dimensional size mutable,potentially heteregeous,tabular data structurewith rows and columns
#Dataframe is collection of series that can be used to analyze the data.
#whereas Series is type of list in pandas that can be take integer values,string values,double values.
#it can contain only single list with an index.
#and Dataframe can be made of more than single list with an index.

In [17]:
#ex. creating dataframe from series
import pandas as pd 
employee=['ram','shyam','krishna']
emp_series=pd.Series(employee)

In [18]:
print(emp_series)

0        ram
1      shyam
2    krishna
dtype: object

In [20]:
#q.5
#pandas function
#pd.read_csv
#pd.read_Excel
#df.head
#df.columns
#df.dtypes
#.len
#df.drop

In [21]:
#q.6
#series:it is 1-D ARRAY with size immutable
#dataframe:it is 2-D array with size mutable
#panel:it is 3-D array with size mutable

In [22]:
import pandas as pd
employee=['rohit','roshan','tom','George']   #creating lists
company=['Atlas','Oracle','cis','storm']
Age=[24,33,24,28]
employee_ser=pd.Series(employee)  #creating a three series by passing lists
company_ser=pd.Series(company)
Age_ser=pd.Series(Age)
data={'employee':employee_ser,'company':company_ser,'Age':Age_ser} #creating dictionary by passing object values of series
output=pd.DataFrame(data)

In [23]:
print(output)

  employee company  Age
0    rohit   Atlas   24
1   roshan  Oracle   33
2      tom     cis   24
3   George   storm   28